.days, .hours, .minutes, .seconds {
  background-size: 100%;
  display: inline-block;
  -webkit-transition: -webkit-transform 1200ms;
  -moz-transition: -moz-transform 1200ms;
  -ms-transition: -ms-transform 1200ms;
}
.days:hover, .hours:hover {
  -webkit-transform: rotate(720deg) scale(1.5);
  -moz-transform: rotate(720deg) scale(1.5);
  -ms-transform: rotate(720deg) scale(1.5);
}
.days {
  background: url("img/casperLLAMA.png");
  width: 75px;
  height: 100px;
}
.hours {
  background: url("img/slothpal.png");
  width: 50px;
  height: 38px;
}
.minutes {
  background: url("img/dazee.png");
  width: 51px;
  height: 498px;
}
.seconds {
  background: url("img/heymoon.png");
  width: 30px;
  height: 31px;
}
